<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ph.ssm.ZJJGWeb.dao.AccCollectMapper">
    <resultMap id="GjinfoResultMap" type="org.ph.ssm.ZJJGWeb.bean.XzhouseTransGjinfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="payeracc" jdbcType="VARCHAR" property="payeracc"/>
        <result column="payername" jdbcType="VARCHAR" property="payername"/>
        <result column="gjacc" jdbcType="VARCHAR" property="gjacc"/>
        <result column="gjname" jdbcType="VARCHAR" property="gjname"/>
        <result column="contractno" jdbcType="VARCHAR" property="contractno"/>
        <result column="amt" jdbcType="DECIMAL" property="amt"/>
        <result column="gapslsh" jdbcType="VARCHAR" property="gapslsh"/>
        <result column="hxlsh" jdbcType="VARCHAR" property="hxlsh"/>
        <result column="orgid" jdbcType="VARCHAR" property="orgid"/>
        <result column="orgname" jdbcType="VARCHAR" property="orgname"/>
        <result column="isgj" jdbcType="VARCHAR" property="isgj"/>
        <result column="addwords" jdbcType="VARCHAR" property="addwords"/>
        <result column="datadate" jdbcType="VARCHAR" property="datadate"/>
        <result column="datatime" jdbcType="VARCHAR" property="datatime"/>
    </resultMap>


    <select id="SelectGjinfoByDate" parameterType="java.lang.String" resultMap="GjinfoResultMap">
        SELECT a.id as id, a.payeracc as payeracc,a.payername as payername,a.gjacc as gjacc,a.gjname as gjname,
               a.contractno as contractno,a.amt as amt,a.gapslsh as gapslsh,a.hxlsh as hxlsh,a.orgid as orgid,
               a.orgname as orgname, a.isgj as isgj, a.addwords as addwords,a.datadate as datadate,a.datatime as datatime
        FROM  XZHOUSE_TRANS_GJINFO a
        WHERE a.datadate=#{DataDate,jdbcType=VARCHAR}
        ORDER BY a.id
    </select>


    <select id="SelectGjinfoByOrgID" parameterType="java.lang.String" resultMap="GjinfoResultMap">
        SELECT a.id as id, a.payeracc as payeracc,a.payername as payername,a.gjacc as gjacc,a.gjname as gjname,
               a.contractno as contractno,a.amt as amt,a.gapslsh as gapslsh,a.hxlsh as hxlsh,a.orgid as orgid,
               a.orgname as orgname, a.isgj as isgj, a.addwords as addwords,a.datadate as datadate,a.datatime as datatime
        FROM  XZHOUSE_TRANS_GJINFO a
        WHERE a.orgid=#{OrgID,jdbcType=VARCHAR}
        ORDER BY a.id
    </select>

    <select id="SelectGjinfoByMultiChoose" parameterType="map" resultMap="GjinfoResultMap">
        SELECT * FROM XZHOUSE_TRANS_GJINFO a
      <where>
          <if test="payername !=null and payername !='' ">
              and a.payername=#{payername}
          </if>
          <if test="payeracc !=null and payeracc !='' ">
              and a.payeracc=#{payeracc}
          </if>
          <if test="contractno !=null and contractno !='' ">
              and a.contractno=#{contractno}
          </if>
          <if test="amt !=null and amt !='' ">
              and a.amt=#{amt}
          </if>
          <if test="isgj !=null and isgj !='' and isgj !='2'.toString()">
              and a.isgj=#{isgj}
          </if>
          <if test="startdatadate !=null and startdatadate !='' ">
              and a.datadate &gt;=#{startdatadate}
          </if>
          <if test="enddatadate !=null and enddatadate !='' ">
              and a.datadate &lt;=#{enddatadate}
          </if>
              and a.orgid=#{orgid}
      </where>
    </select>
</mapper>
